

@using CrescendoWebsite.Models

@model User

@{
    ViewBag.title = "Chords";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <section>
        <gallery>
            <picture><img src="~/Images/ChordChart.jpg" id="GalleryImage" /> </picture>
            
        </gallery>
    </section>
    
    @*@foreach (GuitarChord c in ViewBag.chords)
        {
            Html.RenderPartial("_ChordPartial", c);
        }*@
</body>
</html>
