
@{
    ViewBag.title = "Index";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Welcome to the our Website, you can log in here, or create a new account</h1>


    <div>
        @Html.ActionLink("Returning User", "Login")
    </div>
    <div>
        @Html.ActionLink("New User", "NewUser")
    </div>

    <section><p>Here's some info about our website/app</p></section>

    <div>

    </div>
</body>
</html>

