

@using CrescendoWebsite.Models
@model User

@{
    ViewBag.title = "Login";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script>document.getElementById("txtComment").value = "";</script>
    <title>Login</title>
</head>
<body>
    <h1>Welcome Back! Please enter your User Name and Password below to get playing</h1>
    <div>
    </div>

    <div id="sign_in">
        @using (Html.BeginForm("login", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            <strong>UserName:</strong>  <a id="textcomment">@Html.TextBoxFor(x => x.UserName) </a><br />
            <br />
            <strong>Password:</strong>  <a id="textcomment">@Html.TextBoxFor(x => x.UserPassword, new { Type = "password" })</a> <br />
            <br />
            <input type="submit">
        }
    </div>



</body>
</html>