
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewUser</title>
</head>
<body>
    <h1>Enter your information here new User</h1>

    <div> 
    </div>
</body>
</html>
