
@using CrescendoWebsite.Models

@model User

@{
    ViewBag.title = "Recordings";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    //Recording recording = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Recordings</title>
</head>
<body>
    <audio src=~/DataHolding/Satisfaction.mp3 controls/>
    <h1>From here you can view all of your recordings</h1>
    @{ Recording recording = null; }
    @Html.ActionLink("recording", "Recording", recording)
    <div>
        @*@foreach (Recording r in ViewBag.recordings)
        {
            Html.RenderPartial("_RecordingPartial", r);
        }*@
    </div>
</body>
</html>
