
@using CrescendoWebsite.Models

@model User

@{
    ViewBag.title = "Recordings";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Recordings</title>
</head>
<body>
    <h1>From here you can view all of your recordings</h1>
    <div>
     
    </div>
</body>
</html>
