
@using CrescendoWebsite.Models

@model User

@{
    ViewBag.title = "Home";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserHome</title>
</head>
<body>
    <h1>Thanks for signing in, Chance, welcome to your Home Page</h1>


    <div>
    </div>
</body>
</html>
