
@{
    ViewBag.title = "UserData";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserData</title>
</head>
<body>
    <h3>Here are some of your Recordings</h3>
    <div>
        @foreach(var item in ViewBag.Recordings)
        {
          <h1>@item.RecordingName</h1>
        }
    </div>
</body>
</html>

