
@{
    ViewBag.title = "UserData";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserData</title>
</head>
<body>
    <h1>From here you can access your Recordings, Scales, and Chords</h1>
    <div>
    </div>
</body>
</html>

