*.iml
.gradle
/CrescendoApp/local.properties
/CrescendoApp/.idea/workspace.xml
/CrescendoApp/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/CrescendoSite/.vs/config
applicationhost.config
/CrescendoSite/CrescendoWebsite/CrescendoWebsite/obj/
/CrescendoApp/build/intermediates/dex-cache/cache.xml
/CrescendoSite/.vs/CrescendoWebsite/v14/.suo
