
/*Colors

    BF312D  -   
    7F211E  -   
    FF413B  -   
    20100F  -   Background
    E53B36  -   nav
*/
html {
    height: 100%;
    font-family: Arial;
}

body{
    /*background: radial-gradient(circle at 130% 100%, #ffffff, #091D26) fixed;*/
    background: #30100F;
    color: #ffffff;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 15%;
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;   
}

section {
    margin: auto;
    padding: 25px;
    align-content: center;
    align-self: center;
}

gallery {
    margin: auto;
}

nav ul{
    background-color:#E53B36;
    box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
    margin-bottom: 0px;
}
nav li{
    float: left;
      
}
nav li a{
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    line-height: 50px;
    text-decoration: none;
    font-size: 20px;
    /*float: center;*/
    
}
nav li img{
    width: 50px;
    padding: 0 5px;
}
nav li a:hover{
    background-color: #7F211E;
}

div{

}
.content {
  min-height: 100%;
}
.content-inside {
  padding: 20px;
  padding-bottom: 50px;
}
footer{
    width: 100%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    padding: 10px 10px;
    margin: -20px 0px;
    bottom: 0;
    background: #20100F;
    z-index: 10;
}

picture {
    margin 10px;
    padding: 15px;
    background: #E53B36;
}

#resizeText:focus{
    font-size: 100px;
}

/*#chords {
    white-space: pre;
}*/

pre {
    text-indent: 0px;
}

#chord {
    background: white;
    margin: 20px;
    padding: 10px;
    width: 250px;
}


